* {
    box-sizing: border-box;
    /*outline: 1px solid red;*/
    font-family: Arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.topbar {
    height: 80px;
    position: fixed;
    width: 100%;
    background: #292929;
    overflow: hidden;
    z-index: 10;
}

.topbar-content {
    width: 960px;
    margin: 0 auto;
}

.logo {
    width: 80px;
    height: 80px;
    float: left;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.navigation {
    float: right;
    text-align: center;
    text-decoration: none;
}

.navigation-list-item {
    float: left;
    padding: 10px 0;
    width: 100px;
    /*background: #292929;*/
    list-style: none;
    margin: 0;
    text-transform: uppercase;
    font-style: normal;
    /**/
    border-top: 4px solid;
    display: block;
}

.navigation-list-item a {
    display: block;
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
    /*border-top: 4px solid red;*/
}

li:first-child {
    border-color: yellow;
}

li:nth-child(2) {
    border-color: orange;
}

li:nth-child(3) {
    border-color: red;
}

li:nth-child(4) {
    border-color: purple;
}

li:nth-child(5) {
    border-color: midnightblue;
}

li:nth-child(6) {
    border-color: darkblue;
}

li:nth-child(7) {
    border-color: royalblue;
}

.hero {
    padding: 210px;
    height: 100vh;
    background: grey;
    position: relative;
    background-image: url(../images/hero-background-city.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.hero-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.feature {
    float: left;
    width: 50%;
}

.feature-icon-container {
    padding-top: 17px;
    text-align: center;
    width: 40px;
    float: left;
}

.feature-description {
    width: calc(100% - 40px);
    float: left;
}

h2 {
    text-align: center;
}

.blog {
    margin: 0 auto;
    /*width: 960px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-item {
    width: 290px;
    margin: 0 10px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.post-image {
    width: 290px;
    height: 220px;
}

.post-title {
    color: lightseagreen;
    font-size: 1.2em;
    margin: 10px 0;
}

.post-intro {

}

.post-footer {
    margin-top: 8px;
}

a.learn-more {
    color: lightseagreen;
    float: left;
    text-decoration: none;
}

a.comments {
    float: right;
    padding-left: 20px;
}

#company-experience {
    background: lightseagreen;
    margin: 60px 0;
    padding: 60px 0;
    color: white;
}

.company-experience {
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience-image {
    border: 4px solid white;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    height: 100px;
}

.experience-item {
    display: inline-block;
    text-align: center;
}

.experience-divider {
    display: inline-block;
}

.experience-counter {
    font-size: 1.8em;
}

.band {
    margin: 0 auto;
    /*width: 960px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-member {
    display: inline-block;
    width: 210px;
    border: 1px solid lightgray;
    margin: 0 30px;
}

.member-bio {
    border-top: 1px solid lightgray;
    padding: 0 0 30px 0;
    margin-top: 160px;
}

.member-name {
    background: #ffffff;
    border: 1px solid lightgray;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    position: relative;
    top: -30px;
    left: 30px;
}

.full-name {
    color: lightseagreen;
    font-weight: bold;
    padding: 0;
}

.description {
    color: gray;
    padding: 0;
}

.bio-short {
    padding: 0 15px;
    text-align: center;
    margin-bottom: 30px;
}

a.bio-link {
    display: block;
    width: 150px;
    border: 2px solid lightseagreen;
    color: lightseagreen;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 0.8em;
}

a.bio-link:hover {
    color: white;
    background-color: lightseagreen;
}

.contact-content {
    margin: 60px auto;
    width: 960px;
    background-color: #292929;
    border:3px solid #292929;
    padding:20px;
    text-transform: uppercase;
    font-size:12px;
    color: lightseagreen;
    font-weight: bold;
}

.contact-top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.contact-item label, .contact-item input {
    display: block;
    width: 260px;
    /*padding: 20px;*/
    margin:0 33px;
    justify-content: center;
    align-items: center;
}

.contact-bottom label, .contact-bottom textarea {
    display: block;
    width: 100%;
}

.contact-middle {
    display: flex;
    margin-top: 20px;

}

.contact-submit button {
    float: right;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
    border-color: lightseagreen;
    text-transform: uppercase;
    color: lightseagreen;
    background-color: white;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    top: -20px;
    left: auto;
}

.contact-submit button:hover {
    color: white;
    background-color: lightseagreen;
}

.contact-content h1 {
    text-align: center;
    text-transform: none;
    font-size: 1.5em;
    margin: 2px auto;
}
